@use 'src/styles/vars';

.messages {
  padding: 2em;
  flex: 1;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  .message {
    text-align: right;
    margin-bottom: 2rem;

    &__sender {
      margin: 0.5rem 1.5rem;
      display: block;
    }

    &__content {
      background-color: vars.$light-color;
      padding: 1.5em;
      display: inline-block;
      border-radius: 2rem;
      color: vars.$normal-blue;
    }

    &--other {
      text-align: left;
    }
  }
}
