$dark-blue: #13405C;
$light-blue: #BDDCF0;
$normal-blue: #2A80B9;
$light-grey: #818385;
$dark-grey: #333333;
$light-color: white;

$gutter: 1rem;
$ease-out-back: cubic-bezier(0.175, 0.885, 0.430, 1.650),
