@use 'src/styles/vars';

@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
   transform: scale(1);
   opacity: 1;
  }
}

.messages {
  padding: 2em;
  scroll-behavior: smooth;
  flex: 1;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  .message {
    text-align: right;
    margin-bottom: 2rem;
    color: vars.$normal-blue;
    animation: pop 0.4s cubic-bezier(.48,1.7,.87,1);


    &__sender {
      margin: 1rem;
      display: block;
      position: relative;
    }

    &__content {
      background-color: vars.$light-color;
      padding: 1.5em;
      display: inline-block;
      border-radius: 2rem;
      max-width: 75%;
      box-shadow: 5px 2px 10px rgba(0,0,0, .1);
    }

    &--other {
      text-align: left;
      & .message__content {
        background: vars.$dark-blue;
        color: vars.$light-blue;
      }
    }
  }
}
